/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* style start */

body {
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    width: 100%;
}

/* hero styling */

.hero-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: rgb(231, 250, 252);
    border-radius: 20px;
}

.hero-text {
    width: 50%;
    padding: 30px;
}

.hero-text h1 {
    font-size: 35px;
}

.hero-text p {
    font-size: 20px;
}

.hero-text a {
    background-color: red;
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
}

.hero-text a:hover {
    background-color: rgb(231, 250, 252);
    color: red;
    border: 1px solid red;
    transition: color 2s;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

/* blog section desigining */

/* menu design */



.menu {
    background-color: blueviolet;
    height: 150px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 5px;
}

.menu a {
    text-decoration: none;
    margin: 2px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    width: 60%;
    text-align: center;
}


.menu-blog,
.menu-group {
    background-color: white;
    color: black;
}

.menu-upcomming {
    background-color: red;
    color: white;
}



/* blog design */

.blogging {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.blog-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

/* footer style */

footer {
    width: 100%;
    background-color: black;
    padding-top: 50px;
    color: white;
}

footer div {
    display: flex;
    justify-content: center;
}

footer hr {
    width: 80%;
    height: 1px;
    border: 0px;
    background-color: white;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 10px 10px;
}

.fa-brands {
    margin: 10px;
    color: white;
    font-size: 20px;
}

/* upcomming match page style  */

.matches {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match {
    margin: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2,
h4 {
    text-align: center;
    margin: 5px 0px;
}

.flags {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flags img {
    width: 40%;
}

/* responsiveness */

@media only screen and (max-width: 677px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .hero-text {
        text-align: center;
    }

    .hero-image img {
        width: 100%;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .menu {
        width: 50%;
        background-color: white;
    }

    .menu a {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (min-width: 678px) and (max-width: 959px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .hero-text {
        text-align: center;
    }

    .hero-image img {
        width: 100%;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: 90%;
        background-color: white;
    }

    .menu a {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}